@charset "UTF-8";

/* see https://dmblog.com/show-or-hide-a-sidebar-on-ipad-based-on-orientation */

/* for all media types */
@media all {

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,ouput,ruby,section,summary,time,mark,audio,video {
	background: transparent;
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 100%;
/* 	overflow-y: auto;  this messes up the fancybox overlay if you include it */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

audio,canvas,video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
}

nav ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,th,td {
	font-weight: normal;
	text-align: left;
}

input,select {
	vertical-align: middle;
}

del {
	text-decoration: line-through;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	padding: 0.125em 0.25em;
	margin: 0;
	border-radius: 0.25em;
	background-color: #eee;
	color: #000;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 0.0625em;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

hr {
	display: block;
	border: 0;
	height: 1px;
	margin: 1em 0;
/* 	border-top: 1px solid rgba(0,0,0,0.125); #e0e0e0 */
	border-top: 1px solid #ddd;
	padding: 0;
}

sub,sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

small {
	font-size: smaller;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

/* -------------------------------------------------------------- /*
/* ! -- DEFAULTS FOR WHOLE PAGE -- */
/* -------------------------------------------------------------- */
body {
	font: 100% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica-Light", "Helvetica Light", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1;
	background: #fff;
	color: #000;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1, .page h3.entry-title {
	font-size: 1.25em; /* 20px */
	margin-bottom: 1.25em;
}

h3.archive-title {
	font-size: 1.25em;
	text-align: center;
	font-weight: normal;
/* 	color: rgba(0,0,0,0.5); #808080 */
	color: #999;
	margin: 0 0 1.25em 0; /* margin: 20px 0; */
}

h2, h4, h3#reply-title, #side h3, #archives-all h5 {
	text-transform: uppercase;
	font-size: 0.875em; /* 14px */
/* 	color: rgba(0,0,0,0.75); #404040 */
	color: #444;
}

/* h3 and h4 have size set to 1em in reset above – also see colors below */

h3, h5, h6 {
/* 	color: rgb(0,80,140); */
	color: rgb(0,136,204);
}

.page h3.entry-title {
	color: #000;
}

h5 {
	font-size: 0.875em;
}

h6 {
	text-transform: uppercase;
	font-size: 0.75em; /* 12px */
}

a {
	color: rgb(0,136,204);
	text-decoration: none;
}

a:hover, a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
/* 	color: rgb(0,120,220); */
	color: rgb(0,195,255);
/* 	text-decoration: underline; */
}

q, em {
	font: 100% "HelveticaNeue-LightItalic", "Helvetica Neue Light Italic", 
	"HelveticaNeue-Italic", "Helvetica Neue Italic", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica-LightOblique", "Helvetica Light Oblique", "Helvetica-Oblique", "Helvetica Oblique", Helvetica, Arial, sans-serif;
	font-style: italic;
}

strong {
	font: 100% "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Helvetica-Bold", "Helvetica Bold", Helvetica, Arial, sans-serif;
/* 	font-weight: bold; */
}

em strong, strong em {
	font: 100% "HelveticaNeue-BoldItalic", "Helvetica Neue Bold Italic", "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Helvetica-BoldOblique", "Helvetica Bold Oblique", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
}

aside {
/* 	color: rgba(0,0,0,0.625); #606060 */
	color: #666;
}

.error {
/* 	color: rgb(255,20,20); */
	color: rgb(180,0,20);
}

#main ul, ol, dl {
	margin: 1.25em 1em;
	list-style-position: inside;
}

dt {
	margin-top: 1.25em;
	font-weight: bold;
}

dd, .single #main .entry-content li {
	margin-bottom: 1.25em;
}

.single #main .entry-content li li, dd li, dd dd {
	margin-top: -1.25em;
}

blockquote {
	margin: 1.25em 1em;
	padding: 0 1em;
	border-left: 1px solid rgb(215,220,225);
	font-size: 0.875em;
/* 	color: rgba(0,0,0,0.625); #606060 */
	color: #666;
}

.footnotes {
	font-size: 0.875em;	
	color: #666;
}

/* .archives.categories li, .archives.months li, .archives.tags li, ul.domains li, */.dm-stars span, #feeds a span {
	background: transparent url('b-sprite.png') 0 0 no-repeat;
	background-size: 32px 500px; /* original = 64 x 1020 */
}

/* -------------------------------------------------------------- /*
/* ! -- COMMON BUTTON STYLES -- */
/* -------------------------------------------------------------- */
button, a.comment-reply-link, a.button {
	display: inline-block;
/*
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
/*
	*display: inline;
*/
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px/100% "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: .5em 1em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	border-radius: 0.25em;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	color: rgb(215,240,250);
	border: 1px solid rgb(0,100,175);
	background: rgb(0,120,200);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(0,140,235)), to(rgb(0,102,177)));
	background: -moz-linear-gradient(top, rgb(0,140,235), rgb(0,102,177));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#008ceb', endColorstr='#0066b1')";
}

button:hover, a.comment-reply-link:hover, a.button:hover {
	text-decoration: none;
	background: rgb(0,95,170);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(0,120,200)), to(rgb(0,70,140)));
	background: -moz-linear-gradient(top, rgb(0,120,200), rgb(0,70,140));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078c8', endColorstr='#00468c')";
}

button:active, a.comment-reply-link:active, a.button:active {
	position: relative;
	top: 1px;
	color: rgb(150,200,250);
	background: rgb(0,120,200);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(0,102,177)), to(rgb(0,140,235)));
	background: -moz-linear-gradient(top, rgb(0,102,177), rgb(0,140,235));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00468c', endColorstr='#0078c8')";
}

/* -------------------------------------------------------------- /*
/* ! -- MAIN HEADER -- */
/* -------------------------------------------------------------- */
#main-header {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	box-shadow: 0 5px 10px 5px rgba(255,255,255,0.9);
	background: rgba(255,255,255,0.9);
/* 	border-bottom: 1px solid rgb(255,255,255); */
/* 	overflow: hidden; */
}

.admin-bar #main-header {
	top: 28px;
}

#nav-bar {
	width: 310px;
	padding: 0 5px;
	height: 30px;
	margin: 0 auto;
}

#main-header h1 a {
	color: rgba(0,0,0,0.75);
}

#main-header a:hover {
	color: rgb(0,195,255);
/* 	text-shadow: 0 0 16px rgb(200,225,255); */
	text-decoration: none;
}

#main-header h1 {
	float: left;
	margin: 5px 0;
	font-weight: 100;
	font: 1.125em/1 "HelveticaNeue-UltraLight","Helvetica Neue UltraLight","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica-Light", "Helvetica Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* -------------------------------------------------------------- /*
/* ! -- MAIN NAVIGATION -- */
/* -------------------------------------------------------------- */
#nav-main {
	width: 230px;
	height: 30px;
	float: right;
	overflow: hidden;
}

#nav-main ul {
	float: right;
}

#nav-main li {
	display: block;
	float: left;
	height: 30px;
	margin-left: 1.125em;
	text-transform: uppercase;
}

#nav-main li a {
	display: block;
	height: 30px;
	line-height: 32px;
	color: rgba(0,0,0,0.75);
	font-weight: bold;
	font-size: 0.625em; /* 10px */
	letter-spacing: 0.125em;
	text-shadow: 0 0 10px rgba(255,255,255,0.95);
}

#nav-main li#menu-item-9 a {
	color: rgb(0,136,204);
/* 	color: rgb(0,195,255); */
}

#nav-main li#menu-item-9 a:hover, #main-header h1 a:hover{
	color: rgb(0,195,255);
}

/* -------------------------------------------------------------- /*
/* ! -- BOTTOM FOOTER -- */
/* -------------------------------------------------------------- */
#main-footer {
	clear: both;
	padding: 1.25em 0 0.75em 0;
	text-align: center;
	font-size: 0.75em;
/* 	color: rgba(0,0,0,0.3); #b3b3b3 */
	color: #aaa;
	padding-bottom: 60px;
}

#main-footer a {
/* 	color: rgba(0,0,0,0.3); #b3b3b3 */
	color: #aaa;
}

#main-footer a:hover {
	color: rgb(0,195,255);
/* 	color: rgba(0,0,0,0.75); */
}

/* -------------------------------------------------------------- /*
/* ! -- CONTENT DIV -- */
/* -------------------------------------------------------------- */
#content {
	width: 320px;
	margin: 40px auto 0 auto;
}

/* -------------------------------------------------------------- /*
/* ! -- MAIN CONTENT -- */
/* -------------------------------------------------------------- */
#main {
	float: left;
	width: 300px;
	padding: 0 10px;
	margin-top: 1.25em;
}

#main p, .single .entry-content dd, .dm-ajax p {
	margin-bottom: 1.25em;
}

/* -------------------------------------------------------------- /*
/* ! -- PAGE DEFAULTS -- */
/* -------------------------------------------------------------- */
article.page {
	position: relative;
}

.post-edit-link {
	display: block;
	text-align: right;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 0.75em;
	text-transform: uppercase;
}

.entry-content, .entry-summary, .entry-meta, .comment-content {
	line-height: 1.375; /* (60px image height - (16px x 3 lines of text)) / 2 spaces to align to bottom */
}

/* -------------------------------------------------------------- /*
/* ! -- ABOUT PAGE  -- */
/* -------------------------------------------------------------- */
.disclaimer {
	font-size: 0.75em;
	margin: 0.5em 0.5em 1.25em 0.5em;
	padding: 1.25em 1.25em 0 1.25em;
	background: rgb(230,230,230);
	border: 1px solid rgb(200,200,200);
	border-radius: 2px;	
}

/* -------------------------------------------------------------- /*
/* ! -- ARCHIVES PAGE  -- */
/* -------------------------------------------------------------- */
/*
#archives-nav ul {
	font-size: 0.75em;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto 1.5em auto;
}

#archives-nav li {
	display: inline-block;
	padding-bottom: 0.5em;
}

#archives-nav li:before {
	content: '✻ ';
}

#archives-nav li.best-of:before {
	content: 'Jump to: ';
}

#main ul.archives {
	margin: 0 0 1.25em 0;
	list-style: none;
}

#archives-best {
	clear: both;
}
*/

/* #archives-best ul,  */#recent-posts ul {
	display: inline-block;
	font-size: 0.75em;
}

#archives-all h6 {
	color: #444;
	text-transform: none;
	font-weight: normal;
}

#archives-all a:hover h6 {
	color: rgb(0,195,255);
}

#archives-all ul {
	display: inline-block;
	list-style-type: none;
	margin: 0.25em 0 1em 0;
}

/* #archives-best li, #map .marker-description li, */
#recent-posts li {
	float: left;
	margin: 1em 0 0 0;
	width: 300px;
	padding: 0 30px;
}

#archives-all li {
	float: left;
	margin: 0.125em 0 0 0;
	width: 300px;
	padding: 0;
}

#archives-all h4 {
	color: #fff;
	height: 1px;
}

/* #archives-best h4, .marker-description h4, */
#recent-posts h4 {
	line-height: 1.25;
	margin: 0.25em 0 0.125em 0;
}

#archives-all h6 {
	line-height: 1.125;
	margin: 0.25em 0 0.125em 0;
}

/* #archives-best a .entry-date,.marker-description a .entry-date, */
#recent-posts a .entry-date, #archives-all a .entry-date {
	font-size: 0.875em;
	color: #999;
}

/* #archives-best .post-thumbnail, #map .post-thumbnail { */
#recent-posts .post-thumbnail, #archives-all .post-thumbnail {
	margin: -34px 0.75em 0 -34px;
	-webkit-transform: scale(0.5);
	   -moz-transform: scale(0.5);
	    -ms-transform: scale(0.5);
	     -o-transform: scale(0.5);
	     	transform: scale(0.5);

	-webkit-transform-origin: bottom right;
	   -moz-transform-origin: bottom right;
	    -ms-transform-origin: bottom right;
	     -o-transform-origin: bottom right;
	     	transform-origin: bottom right;
}

#archives-all .post-thumbnail {
	margin: -50px 0.5em 0 -50px;
	-webkit-transform: scale(0.25);
	   -moz-transform: scale(0.25);
	    -ms-transform: scale(0.25);
	     -o-transform: scale(0.25);
	     	transform: scale(0.25);
}

/*
#archives-left, #archives-right {
	float: left;
	width: 160px;
	line-height: 1.75;
}

#archives-right {
	width: 140px;
	float: right;
}

.archives-list footer {
	clear: both;
}

#archives-left li, #archives-right li {
	padding-left: 20px;
	overflow: hidden;
	height: 1.75em;
}

.archives li span {
	font-size: 0.75em;
	color: rgb(230,230,230);
}

.archives li:hover > span {
 	// color: rgb(0,120,220);
	color: rgb(0,195,255);
}

.archives li:hover > span:before {
	content: ' \2013  ';
}

.archives li:hover > span:after {
	content: ' posts';
}

.archives li:hover > span.single:after {
	content: ' post';
}

.archives.categories li {
	// background-size: 128px auto;
	background-position: -8px -196px;
}

.archives.categories li.cat-item-3 {
	background-position: -8px -96px;
}

#archives-left .archives.years h5 {
	margin-left: -20px;
}

#archives-left .archives.years > li {
	height: auto;
}

.archives.months li {
	background-position: -8px -244px;
}

.archives.months, .archives.collapse {
	overflow: hidden;
	height: 0;
}

.archives.years li:target:not(.collapse) .months, .archives.years li.expand .months {
	overflow: auto;
	height: auto;
}

.archives.tags li {
	margin-left: 0.5em;
	background-position: -8px -294px;
}
*/

/* -------------------------------------------------------------- /*
/* ! -- DOMAINS PAGE  -- */
/* -------------------------------------------------------------- */
/*
#main ul.domains, .dm-ajax ul.domains {
	display: block;
	float: left;
	width: 150px;
	margin: 0 0 1.5em 0;
	list-style: none;
}

ul.domains li {
	padding-left: 20px;
	background-size: 16px 250px; // instead of including another star, just resize it to half as much - double retina
	background-position: 0 -221px;
}

.single #main .entry-content ul.domains li {
	margin-bottom: 0;
}

ul.domains.right {
	float: right;
}

ul.domains li.space {
	margin-top: 1.25em;
}

#main p.domains-info, .dm-ajax p.domains-info {
	clear: both;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	-webkit-hyphens: none;
	   -moz-hyphens: none;
			hyphens: none;
}
*/

/* -------------------------------------------------------------- /*
/* ! -- SEARCH -- */
/* -------------------------------------------------------------- */
/*
#search {
	float: left;
	height: 40px;
	width: 140px;
	padding: 5px 0;
}
*/

/*
::-webkit-search-cancel-button {
	margin-left: 5px;
}
*/

/*
::-webkit-search-decoration,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}
*/

#s {
/* 	-webkit-appearance: textfield; */
	-webkit-box-sizing: content-box;
	width: 128px;
	height: 20px;
	margin: 7px 0;
	border-radius: 10px;
	border: 1px solid rgba(180,180,180,0.5);
/* 	background-color: rgb(60,60,60); */
/* 	background-position: -170px -133px; */
/* 	color: rgba(180,180,180,0.5); */
	text-align: center;
}

#s:focus {
/* 	width: 150px; */
	outline: none;
	border: 1px solid rgb(0,195,255);
/* 	background-color: rgb(255,255,255); */
/* 	color: rgb(0,0,0); */
}

#s::-webkit-input-placeholder {
	color: rgba(180,180,180,0.5);
}

#s:-moz-placeholder {
	color: rgba(180,180,180,0.5);
}

/* -------------------------------------------------------------- /*
/* ! -- ARCHIVES MAP  -- */
/* -------------------------------------------------------------- */
/*
#archives-map-container {
	margin: 0.5em 0 1.5em 0;
	width: 300px;
	height: 300px;
	box-shadow: 3px 5px 7px rgba(0,0,0,0.3);
}

#map {
	margin: 0;
	padding: 0;
	width: 300px;
	height: 300px;
}

#single-post-map #map {
	width: 270px;
	height: 180px;
}

#map .marker-popup {
	max-width: 204px;
	font-size: 0.75em;
}

#map .marker-description {
	display: inline-block;
	width: 215px;
	margin-top: -20px;
	padding: 0;
}

#map .marker-description.single {
	width: 204px;
}

#map .marker-description ul {
	max-height: 160px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#map .marker-description li {
	width: 204px;
	padding: 0;
}

#map .marker-description ul::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
}

#map .marker-description ul::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}
*/

/* -------------------------------------------------------------- /*
/* ! -- SEARCH RESULTS -- */
/* -------------------------------------------------------------- */
#main #search-text p {
	font-style: italic;
	text-align: center;
	-webkit-hyphens: none;
	   -moz-hyphens: none;
			hyphens: none;
	line-height: 1.5;
}

/* -------------------------------------------------------------- /*
/* ! -- POSTS NAVIGATION -- */
/* -------------------------------------------------------------- */
.posts-nav {
	clear: both;
	margin: -2em -5px 2em -5px;
	height: 1.25em;
	font-size: 0.875em;
	line-height: 2;
}

#nav-above {
	margin: -0.75em -5px 1em -5px;
}

.posts-nav a {
/* 	color: rgb(120,120,120); */
/* 	color: rgba(0,0,0,0.25); #c0c0c0 */
	color: #ccc;
/* 	text-shadow: 1px 1px 2px rgba(0,0,0,0.75); */
}

.posts-nav a:hover {
/* 	color: rgb(0,120,220); */
	color: rgb(0,195,255);
}

.previous {
	float: left;
}

.next {
	float: right;
}

.single #nav-above {
	display: none;
}

/* -------------------------------------------------------------- /*
/* ! -- POST THUMBNAILS  -- */
/* -------------------------------------------------------------- */
.post-thumbnail {
	position: relative;
	display: inline-block;
	float: left;
	width: 64px;
	height: 64px;
	padding: 0;
	margin: 0 1em 1em 0;
	overflow: hidden;
	border: 2px solid rgba(0,0,0,0.125);
	border-radius: 50%;
	background: rgba(0,136,204,0.1);
	box-shadow: 5px 5px 10px rgba(0,0,0,0.125);
	-webkit-transition: all 500ms ease-in-out;
	   -moz-transition: all 500ms ease-in-out;
		-ms-transition: all 500ms ease-in-out;
		 -o-transition: all 500ms ease-in-out;
			transition: all 500ms ease-in-out;
}

a:hover .post-thumbnail {
	border: 2px solid rgb(0,136,204);
	box-shadow: 6px 6px 8px rgba(0,0,0,0.375);
}

.post-thumbnail img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.post-thumbnail:after {
	content: '';
	position: absolute;
	top: -1px;
	left: -1px;
	width: 58px;
	height: 58px;
	border: 4px solid rgba(240,240,240,0.2);
	border-radius: 50%;
	background: -moz-radial-gradient(center, ellipse cover, rgba(34,38,46,0) 75%, rgba(34,38,46,0.2) 95%, rgba(34,38,46,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(75%,rgba(34,38,46,0)), color-stop(95%,rgba(34,38,46,0.2)), color-stop(100%,rgba(34,38,46,0.3))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(34,38,46,0) 75%,rgba(34,38,46,0.2) 95%,rgba(34,38,46,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(34,38,46,0) 75%,rgba(34,38,46,0.2) 95%,rgba(34,38,46,0.3) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(34,38,46,0) 75%,rgba(34,38,46,0.2) 95%,rgba(34,38,46,0.3) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(34,38,46,0) 75%,rgba(34,38,46,0.2) 95%,rgba(34,38,46,0.3) 100%); /* W3C */
}

.single .post .post-thumbnail, .single .post .post-thumbnail img {
	width: 80px;
	height: 80px;
	border-radius: 8px;
}

.single .post .post-thumbnail img {
	border-radius: 5px;
}

.single .post .post-thumbnail:after {
	width: 74px;
	height: 74px;
	border-radius: 8px;
}

/* -------------------------------------------------------------- /*
/* ! -- DEFAULTS FOR ALL POSTS IN THE LOOP -- */
/* -------------------------------------------------------------- */
.post {
	position: relative;
	min-height: 100px;
	margin-bottom: 2em;
/* 	border-bottom: 1px solid rgba(0,0,0,0.125); #e0e0e0 */
	border-bottom: 1px solid #ddd;
}

.post:first-of-type {
/* 	border-top: 1px solid rgba(0,0,0,0.125); #e0e0e0 */
	border-top: 1px solid #ddd;
}

.post .entry-header {
	position: relative;
	margin: 2em 0;
}

.post .entry-title {
	margin: 0 0 0.25em 0;
/* 	color: rgba(0,0,0,0.75); #404040 */
	color: #444;
	font: 1.25em/1.125em "HelveticaNeue-CondensedBlack", "Helvetica Neue Condensed Black", "Helvetica-Condensed-Black", "Helvetica Condensed Black", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.post a:hover .entry-title {
	color: rgb(0,195,255);
}

.header-meta, .comment-time {
	font-size: 0.75em;
	line-height: 1.25;
/* 	color: rgb(120,120,120); */
	color: #999;
	text-transform: uppercase;
}

.header-meta a {
/* 	color: rgb(120,120,120); */
	color: #999;
}

.header-meta a:hover, .comment-time a:hover {
	color: rgb(0,195,255);
}

.cat-links, .tag-links, .weekday {
	display: none;
}

.entry-summary, .first .entry-summary {
	display: block;
	clear: both;
	margin: -1.5em 0 2em 0;
	font-size: 0.875em;
}

.entry-summary a {
/* 	color: rgb(120,120,120); */
	color: #999;
}

.entry-summary a:hover {
	color: rgb(0,195,255);
}

/* -------------------------------------------------------------- /*
/* ! -- SINGLE POSTS -- */
/* -------------------------------------------------------------- */
.single .post, .post.not-found {
	border: none;
}

.single .post .entry-header {
	margin: 0;
}

.single .post .title-wrap {
	width: 200px;
	float: right;
	height: 85px;
	line-height: 85px;
}

.single .post .entry-title {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.5em;
}

.single .header-meta {
	clear: both;
	margin: 0 0 1em 0;
}

.post .entry-content {
	position: relative;
	clear: both;
}

.post .entry-content a:not(.button), .entry-meta a {
	color: rgb(0,80,140);
}

.post .entry-content a:not(.button):hover, .entry-meta a:hover {
/* 	color: rgb(0,136,204); */
	color: rgb(0,195,255);
	text-decoration: underline;
}

.post .entry-content img, .comment .comment-content img {
	float: left;
	margin: 0;
	box-shadow: 3px 5px 7px rgba(0,0,0,0.3);
	zoom: 0.5;
}

.post .entry-content a:hover img, .comment .comment-content a:hover img {
	box-shadow: 3px 5px 9px rgba(0,136,204,0.2);
}

.single .entry-meta {
	clear: both;
	margin: 1.25em -10px 2.5em -10px;
	font-size: 0.75em;
/* 	color: rgb(120,120,120); */
	color: #999;
/* 	border-top: 1px solid rgba(0,0,0,0.125); #e0e0e0 */
	border-top: 1px solid #ddd;
	padding: 1.25em 10px;
	background: rgb(230,230,230);
}

.single .tag-links {
	display: inline;
	text-transform: lowercase;
}

.entry-meta .entry-date {
	font-size: 1em;
	text-transform: none;
}

/* -------------------------------------------------------------- /*
/* ! -- AUTHOR INFO -- */
/* -------------------------------------------------------------- */
#tweet-comments {
	background: #fff;
	margin: 0 -10px -2em -10px;
	padding: 1.25em 0 1.25em 0;
}

/* -------------------------------------------------------------- /*
/* ! -- COMMENT LIST -- */
/* -------------------------------------------------------------- */
#comments, #loading-comments {
	margin: 2.5em 0;
}

#loading-comments p {
/* 	color: rgb(160,160,160); */
	color: #aaa;
	padding: 2em 0 2em 0;
	background: transparent url('f-loading.gif') center top no-repeat;
	text-align: center;
	font-style: italic;
}

#comments-title {
/* 	color: rgb(160,160,160); */
	color: #aaa;
	text-align: center;
}

#comments ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.comment, .pingback, .trackback {
	padding: 0 0 1.25em 0;
	margin-top: 1.25em;
}

.comment .comment {
	padding: 1em 1em 1.25em 1em;
/* 	border-left: 1px solid rgba(0,0,0,0.125); */
	border-left: 1px solid #ddd;
	background: rgba(230,230,230,0.2);
}

.depth-1 {
/*	border-bottom: 1px solid rgba(0,0,0,0.125); */
	border-bottom: 1px solid #ddd;
}

.avatar-wrap {
	float: left;
	margin: 0.25em 0.75em 0 0;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,0.25);
}

.avatar {
	border-radius: 50%;
}

#comments .avatar, #comments .avatar-wrap {
	width: 32px;
	height: 32px;
}

#comments .author {
	padding-top: 0.25em;
}

.comment-edit-link {
	display: block;
	float: right;
	font-size: 0.75em;
	margin: -2.5em 0;
}

.comment-content, .pending-comment {
	clear: both;
	margin: 1.25em 0;
	font-size: 0.875em;
}

.pending-comment {
	font-weight: bold;
	font-style: italic;
}

.pending-comment span {
	font-weight: normal;
}

.comment-content h4, .comment-content h5 {
	font-size: 1em;
}

.comment-content h6 {
	font-size: 0.75em;
}

.reply {
	clear: both;
	margin-top: -0.25em;
	text-align: right;
}

#main p.no-comments {
	margin: 0 0 4em 0;
	text-align: center;
	font-weight: bold;
	font-style: italic;
}

/* -------------------------------------------------------------- /*
/* ! -- COMMENT FORM -- */
/* -------------------------------------------------------------- */
#respond {
	clear: both;
	margin: 2em 0;
}

.cancel-comment-reply {
	display: block;
	text-align: right;
	font-weight: bold;
	font-size: 0.75em;
}

#respond form {
	margin-top: 1em;
}

#comment-status p {
	margin: 1em 0;
	text-align: center;
}

#commentform textarea, #commentform input, #subscribe-form input {
	font: 100% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica-Light", "Helvetica Light", Helvetica, Arial, sans-serif;
	margin: 0.25em 0;
	padding: 0.5em;
	line-height: 1.25;
	font-size: 0.875em;
	color: rgb(75,75,75);
	border-radius: 3px;
	border: 1px solid rgb(180,180,180);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
}

#commentform input:focus, #commentform input:hover, #commentform textarea:focus, #commentform textarea:hover, #subscribe-form input:focus, #subscribe-form input:hover {
	border: 1px solid rgb(0,120,220);
	box-shadow: 1px 1px 2px rgba(0,136,204,0.125);
}

p.comment-form-comment {
	margin-right: 18px; /* to account for padding of textarea */
}

#commentform textarea {
	line-height: 1.5;
	padding: 0.5em 8px;
	width: 100%;
	height: 4.5em;
}

.comments-message {
	display: block;
	clear: both;
	margin-top: 0.25em;
	margin-right: -18px;
	font-size: 0.875em;
	font-style: italic;
	text-align: center;
	color: rgb(120,120,120);
}

.comment-form-fields {
	margin: -75px 0 2em 0;
/* 	padding: 75px 4em 0.5em 2em; */
	padding: 75px 2em 0.5em 0.5em;
	background: rgb(230,230,230);
	border-radius: 3px;
}

.comment-form-avatar {
	float: left;
	margin-top: 1.5em;
}

.label-over-input .comment-form-avatar {
	margin-top: 0.25em;
}

.comment-form-avatar .avatar, #comments .comment-form-avatar .avatar {
	width: 32px;
	height: 32px;
}

.comment-form-fields p {
	position: relative;
	margin-left: 40px;
}

#commentform label, #subscribe-form label {
	display: block;
	color: rgb(120,120,120);
	font-size: 0.875em;
	line-height: 1;
}

#commentform .label-over-input label {
	z-index: 1;
	position: absolute;
	top: 1em;
	left: 0.5em;
	right: 0.5em;
	text-shadow: none;
	cursor: text;
	pointer-events: none;
}

#commentform label .required, #commentform label .nopublish {
	font-size: 0.75em;
	color: rgb(100,100,100);
	line-height: 1.75;
}

#commentform .label-over-input label .required, #commentform .label-over-input label .nopublish {
	padding-left: 0.25em;
	position: absolute;
	color: rgb(160,160,160);
}

#commentform label.hide-label {
	display: none;
}

.nopublish {
	margin-right: -1.25em;
	float: right;
}

.label-over-input .nopublish {
	right: 0;
}

#commentform input, #subscribe-form input {
	width: 100%;
}

#commentform .comment-form-subscribe {
	margin-bottom: 1em;
}

#commentform .comment-form-subscribe input {
	width: auto;
	margin: 0 0.25em 0.25em 0;
}

#commentform .comment-form-subscribe label {
	display: inline;
	margin-top: 0.125em;
}

#commentform .label-over-input .comment-form-subscribe label {
	top: auto;
	left: auto;
	right: auto;
}

#commentform button#submit {
	margin: 2em -2em 2em 0;
	float: right;
	font-size: 1em;
}

/* -------------------------------------------------------------- /*
/* ! -- SUBSCRIPTION MANAGEMENT STYLES -- */
/* -------------------------------------------------------------- */
#cancel-sub-form button#submit {
	margin-bottom: 9em;
}

/* -------------------------------------------------------------- /*
/* ! -- SHORTCODES -- */
/* -------------------------------------------------------------- */
form.dm-donate {
	clear: both;
	width: 150px;
	margin: 1em auto;
}

.dm-audio /* , .dm-maplink */ {
	font-weight: bold;
	background-color: #eee;
	border-radius: 0.25em;
	padding: 0.125em 0.25em;
}

.dm-youtube a {
	display: block;
	position: relative;
	margin: 0 auto;
}

/* this is a fix/hack since we have our anchor tag as position: relative… */
.dm-youtube.dm-align-center {
	float: left;
}

.dm-youtube a:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: transparent url('b-play.png') no-repeat center center;
	background-size: 64px 64px;
}

.dm-photo, .dm-video, .dm-image, .dm-youtube {
	line-height: 1px;
}

.dm-photo a {
	display: block;
}

.dm-align-left {
	float: left;
	margin: 0 15px 15px 0;
}

.dm-align-right {
	float: right;
	margin: 0 0 15px 15px;
}

.dm-align-left-2 {
	float: left;
	margin: 0 0 15px 0;
}

.dm-align-right-2{
	float: right;
	margin: 0 0 15px 0;
}

.dm-align-left-inline {
	float: left;
	margin: 0.375em 0.5em -0.125em 0;
}

.dm-align-right-inline {
	float: right;
	margin: 0.375em 0 -0.125em 0.5em;
}

.dm-align-center {
	float: none;
	margin: 0 auto 15px auto;
}

.dm-align-right + p, .dm-align-left + p, .dm-align-left-2 + p, .dm-align-right-2 + p, .dm-align-center + p, .dm-align-full + p {
	clear: both;
	margin-top: 1.25em;
}

.dm-align-left-2 + p, .dm-align-right-2 + p {
	padding-top: 0.25em;
}

.post .entry-content .dm-align-left img, .post .entry-content .dm-align-left-2 img, .post .entry-content .dm-align-left-inline img,
.comment .comment-content .dm-align-left img, .comment .comment-content .dm-align-left-2 img, .comment .comment-content .dm-align-left-inline img {
	display: inline;
	float: left;
}

.post .entry-content .dm-align-right img, .post .entry-content .dm-align-right-2 img, .post .entry-content .dm-align-right-inline img,
.comment .comment-content .dm-align-right img, .comment .comment-content .dm-align-right-2 img, .comment .comment-content .dm-align-right-inline img {
	display: inline;
	float: right;
}

.post .entry-content .dm-align-center img, .comment .comment-content .dm-align-center img, .post .entry-content .dm-youtube img {
	display: inline;
	float: none;
}

.post .entry-content img.no-border, .post .entry-content .lazy-load img, .comment .comment-content img.no-border {
	padding: 0;
	border: none;
	box-shadow: none;
	margin: 0;
}

.post .entry-content a:hover img.no-border, .post .entry-content .lazy-load a:hover img, .comment .comment-content a:hover img.no-border {
	border: none;
	box-shadow: none;
}

.dm-align-full {
	clear: both;
	float: none;
	margin: 0 auto 15px auto;
	padding: 0;
}

.post .entry-content .dm-align-full img, .comment .comment-content .dm-align-full img {
	display: block;
	float: none;
	margin: 0 auto;
}

figcaption {
	clear: both;
	padding: 0.25em 0 0 0;
	margin-bottom: -0.25em;
	line-height: 1.25;
	font-size: 0.75em;
	color: rgb(120,120,120);
	text-align: center;
	font-style: italic;
}

.dm-align-center figcaption,
.dm-align-left-2 figcaption,
.dm-align-right-2 figcaption {
	clear: both;
	margin: 0 auto;
}

.dm-align-center figcaption {
	clear: none;
}

.dm-youtube figcaption {
	margin: -0.125em auto 1.25em auto;
}

.dm-stars {
	clear: both;
	float: none;
	display: block;
	margin: 1.25em auto 1.25em auto;
	width: 160px;
}

.dm-stars figcaption {
	margin: -0.25em -2em 0 -2em;
	padding: 0;
	text-transform: uppercase;
	font-style: normal;
}

.dm-stars span {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
/* 	background-size: 191px 371px; */
}

.dm-stars span.full {
	background-position: 0 -450px;
}

.dm-stars span.half {
	background-position: 0 -400px;
}

.dm-stars span.empty {
	background-position: 0 -350px;
}

.hreview {
	position: relative;
	line-height: 1.5;
	display: block;
	margin: 1.5em 0;
	padding: 0.5em;
	background: rgb(230,230,230);
/* 	border: 1px solid rgba(0,0,0,0.125); */
	border: 1px solid #ddd;
	border-radius: 3px;
	text-align: center;
}

.hreview .links {
	width: 130px;
	margin: 0 auto;
}

.hreview .links span {
	display: block;
	margin-bottom: 1em;
}

.hreview .links span a {
	margin: 0 auto;
}

.hreview .links span.dinesafe a {
	width: 130px;
	margin: 1em auto 0 auto;
	padding: 0.5em 0 0.55em;
	font-size: 0.75em;
	color: rgb(215,240,250);
}

.post .entry-content .zomato img {
	zoom: 1;
}

.dm-background {
	display: block;
	background: rgb(230,230,230);
/* 	border: 1px solid rgba(0,0,0,0.125); */
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 0.75em 0.75em 0 0.75em;
	margin: 1.25em 0;
}

/* -------------------------------------------------------------- /*
/* ! -- SIDE CONTENT -- */
/* -------------------------------------------------------------- */
#side h3 {
	text-align: center;
}

#recent-posts ul {
	list-style-type: none;
	margin-bottom: 2em;
}

#side {
	z-index: 1000;
	display: block;
	float: none;
	position: fixed;
	width: 320px;
	margin: 0 auto;
	padding-top: 0;
	bottom: -2px; /* 50 * 2.29375 - 53 */
/* 	left: 0; */
}

.widget {
	width: 320px;
	margin: 0 auto;
}

/* -------------------------------------------------------------- /*
/* ! -- FANCYBOX CHANGES -- */
/* -------------------------------------------------------------- */
.fancybox-skin {
	background: #fff;
	color: #000;
}

.fancybox-lock #content {
	filter: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/><feGaussianBlur%20stdDeviation='3'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray;						/* IE */
    -webkit-filter: grayscale(1);		/* Old WebKit */
	-webkit-filter: grayscale(100%) blur(5px);
	   -moz-filter: grayscale(100%) blur(5px);
		-ms-filter: grayscale(100%) blur(5px);
		 -o-filter: grayscale(100%) blur(5px);
			filter: grayscale(100%) blur(5px);
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}

.fancybox-transparent .fancybox-skin {
	background: transparent;
}

.fancybox-title-float-wrap {
	bottom: -0.5em;
}

.fancybox-title-float-wrap .child {
 	padding: 0 1em;
 	/* title font size is set to 13px on 20 */
	border: 2px solid #fff;
}

.fancybox-inner video,
.fancybox-inner .youtube5player {
	display: block;
	vertical-align: top;
	max-width: 100%;
	max-height: 100%;
}

.fancybox-inner audio {
	padding-top: 20px;
}

.fancybox-inner .youtube5placeholder,
.fancybox-inner .youtube5player,
.fancybox-inner .youtube5container {
	display: inline-block;
	width: inherit !important;
	height: inherit !important;
}

.fancybox-mobile .fancybox-nav span {
    visibility: visible;
}

/* -------------------------------------------------------------- /*
/* ! -- PRISM CODE HIGHLIGHTING STYLES -- */
/* -------------------------------------------------------------- */
/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+php+sql&plugins=line-highlight */
code[class*="language-"],
pre[class*="language-"] {
	color: black;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	max-height: 24em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: pre-wrap;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */

	background: hsla(24, 20%, 50%,.08);
	background: -moz-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -webkit-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: -o-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	background: linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));

	pointer-events: none;

	line-height: inherit;
	white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	top: .4em;
	left: .6em;
	min-width: 1em;
	padding: 0 .5em;
	background-color: hsla(24, 20%, 50%,.4);
	color: hsl(24, 20%, 95%);
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	vertical-align: .3em;
	border-radius: 999px;
	text-shadow: none;
	box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: .4em;
}

/* -------------------------------------------------------------- /*
/* ! -- AJAX -- */
/* -------------------------------------------------------------- */
.dm-ajax article.page {
	margin-top: 0;
	padding: 1em 0.75em 0.5em 0.75em;
/* 	width: 265px; */
	background: #fff;
	border-radius: 3px;
}

.dm-ajax .entry-meta {
	display: none;	
}

.dm-ajax .entry-content > p, .dm-ajax .entry-content > ul, #email-subscriptions p {
	font-size: 14px;
	margin-bottom: 1.25em;
}

/*
.dm-ajax .disclaimer p {
	font-size: 0.875em;
}
*/

.legal {
	color: rgb(180,0,20);
}

#agree {
	float: right;
}

#disagree {
	float: left;
}

#agree-buttons {
	width: 200px;
	margin: 1em auto;
	padding-bottom: 2em;
}

/* -------------------------------------------------------------- /*
/* ! -- SUBSCRIBE PAGE -- */
/* -------------------------------------------------------------- */
#subscribe-form {
	width: 150px;
	padding: 0;
	margin: 1em auto 2em auto;
}

#subscribe-form input {
	font-size: 1em;
}

#subscribe-form #submit {
	font-size: 0.85em;
	float: right;
	margin: 0 -1em;
}

#feeds {
	width: 250px;
	height: 40px;
	margin: 1em auto 2em auto;
}

#feeds a {
	display: block;
	float: left;
	width: 50px;
	margin: 0 16px;
	font-size: 0.75em;
	text-align: center;
}

#feeds a span {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto;
	text-indent: -9000px;
/* 	background-size: 191px 371px; */
	background-position: 0 -50px;
}

#feeds a#twitter-feed span {
	background-position: 0 5px;
}

/* -------------------------------------------------------------- /*
/* ! -- DINESAFE STYLES -- */
/* -------------------------------------------------------------- */
.dm-ajax article.dinesafe {
/* 	padding: 20px; */
	color: #999;
	padding: 0.25em 0 0.5em 0;
}

.dinesafe .date, .dinesafe .status, .dinesafe .type {
	color: #000;
}

.dinesafe .type,
.dinesafe .minimum,
.dinesafe .severity,
.dinesafe .action {
	display: block;
}

.dinesafe .type,
.dinesafe .minimum {
	text-align: right;
}

.dinesafe .minimum {
	margin: 0.25em 0;
	font-size: 0.75em;
}

.dinesafe .type {
	text-transform: uppercase;
	font-size: 0.85em;
	font-weight: bold;
}

.dinesafe .minimum {
	font-style: italic;
}

.dinesafe-inspections {
	clear: both;
}

.dinesafe ul {
	list-style-type: none;
	margin: 0;
}

.dinesafe .inspections > li {
	position: relative;
	padding: 0.5em 0.5em 1.625em 1.75em;
	margin: 1.25em 0;
	border: 1px solid #ddd;
	background: rgb(230,230,230);
	border-radius: 3px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.125);
}

.dinesafe .date, .dinesafe .severity {
	float: left;
	font-weight: bold;
}

.dinesafe .date:before {
	content: '';
	display: block;
	position: absolute;
	top: 0.45em;
	left: 0.375em;
	border: 1px solid rgba(0,0,0,0.5);
	height: 1em;
	width: 1em;
	background-color: rgb(200,20,20);
	border-radius: 1em;
}

.dinesafe .pass .date:before {
	background-color: rgb(20,100,20);
}

.dinesafe .conditional .date:before {
	background-color: rgb(255,255,20);
}

.dinesafe .status, .dinesafe .action {
	float: right;
	text-align: right;
}

.dinesafe .action {
	font-size: 0.75em;
}

.dinesafe .infractions {
	clear: both;
}

.dinesafe .infractions li {
	margin: 1.5em 0.5em 0 0;
}

.dinesafe .details {
	display: block;
	clear: both;
	text-transform: uppercase;
	font-size: 0.75em;
	margin: 1.5em 0 0 0;
}

.dinesafe .permalink {
	width: 240px;
	display: block;
	margin: 0 auto;
}

.dinesafe .permalink a {
	width: 100%;
	padding: 0.75em 0;
	font-size: 1em;
	margin: 0 auto;
}

/* -------------------------------------------------------------- /*
/* ! -- HIDDEN ELEMENTS -- */
/* -------------------------------------------------------------- */
.assistive-text { /* Text meant only for screen readers */
	border: 0;
	clip: rect(0 0 0 0); /* IE6, IE7 */
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
}

#main-header h2, .metadata, .by-author, .modified, #commentform .comment-form-comment label, .admin-bar .post .post-edit-link/* , #search-submit */ {
	display: none;
}

} /* end for all media types */

/* iphone landscape (480) */
@media all and (min-width: 464px), print {
#nav-bar {
	width: 390px;
}

#nav-main {
	width: 310px;
}

#nav-main li {
	margin-left: 2em;
}

#nav-main li a {
	font-size: 0.75em; /* 12px */
}

#content {
	width: 400px; /* 380 + 10x2 padding + 0px border */
}

#main {
	width: 380px;
}

#main p, .single .entry-content dd, .dm-ajax p {
	text-align: justify;
	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
			hyphens: auto;
}

/*
.entry-content, .entry-summary, .entry-meta, .comment-content {
	line-height: 1.55; (70px image height - (16px x 3 lines of text)) / 2.5 spaces
}

#archives-best li {
	width: 320px;
}

#archives-left {
	width: 230px;
}

#archives-right {
	width: 150px;
}

#archives-map-container {
	padding: 4px;
	border: 1px solid rgb(220,220,220);
	width: 370px;
	height: 250px;
}

#map {
	width: 370px;
	height: 250px;
}

#single-post-map #map {
	width: 370px;
	height: 160px;
}
*/

/*
#main ul.domains, .dm-ajax ul.domains {
	margin: 0 0 1.5em 32px;
}
*/

.single .post .title-wrap {
	width: 280px;
}

/*
.single .header-meta {
	text-align: right;
}
*/

.single .entry-meta {
	margin: 2.5em 0;
	padding: 1.25em 0;
	background: transparent;
}

#tweet-comments {
	margin: 2em 0 -0.5em 0;
	padding: 0;
}

#comments, #loading-comments {
	margin: -1.25em 0 2.5em 0;
}

#loading-comments p,
#comment-status p, #main .hreview p {
	text-align: center;
}

.dm-align-left, .dm-align-left-2 {
	margin-left: 40px;
}

.dm-align-right, .dm-align-right-2 {
	margin-right: 40px;
}

.hreview {
	margin: 1.5em 2.5em;

/* 	padding: 1.25em 1.5em 0 1.5em; */
}

#side {
	position: relative;
	top: 0;
	margin: 1em auto;
	bottom: auto;
}

#main-footer {
	padding-bottom: 0.75em;
}

#subscribe-form {
	width: 300px;
}

#feeds {
	width: 360px;
}

#feeds a {
	width: 100px;
	margin: 0 10px;
}

} /* end for iphone landscape (480) */

/* ipad portrait (768) */
@media all and (min-width: 698px), print {
/*
.archives.categories li, .archives.months li, .archives.tags li, ul.domains li, .dm-stars span, #feeds a span {
	background-size: 191px 371px;
}
*/

#main-header, #nav-bar {
	height: 40px;
}

#nav-bar {
	width: 624px;
}

#main-header h1 {
	margin: 10px 0;
	font-size: 1.5em
}

#nav-main {
	width: 520px;
}

#nav-main li {
	height: 40px;
	margin-left: 4em;
}

#nav-main li a {
	height: 40px;
	line-height: 50px;
}

#content {
	width: 634px; /* 614 + 10x2 padding + 0px border */
	margin: 50px auto 0 auto;
}

#main {
	width: 614px;
}
.entry-content, .entry-summary, .entry-meta, .comment-content {
	line-height: 1.75; /* (134px image height - (16px x 5 lines of text)) / 4.5 spaces */
}

/* #archives-best li, #map .marker-description li
 #recent-posts li {
	width: 204px;
	margin: 15px 0;
	padding: 0;
}
 */
 
#archives-all li {
	width: 560px;
	margin: 0.25em 0;
	padding: 0 0 0 24px;
}

#recent-posts li {
	width: 300px;
	margin: 15px 8px;
	padding: 0;
}

/* #archives-best h4, .marker-description h4 */
#recent-posts h4 {
	margin: 0.75em 0.75em 0.125em 0;
}

#archives-all h6 {
	margin: 0.625em 0.75em 0.125em 0;
}

/* #archives-best .post-thumbnail, */
#recent-posts .post-thumbnail {
/* #map .post-thumbnail { */
	margin: -50px 1em 0 -50px;
}

#archives-all .post-thumbnail {
	margin: -74px 0.5em 0 -74px;
}

/*
#archives-left {
	width: 250px;
}

#archives-right {
	width: 360px;
}

.archives.categories li {
	background-size: 128px auto;
}
*/

/*
.archives.tags li {
	margin: 0;
	float: left;
	width: 160px;
}

#search {
	width: 350px;
}

#search-submit {
	margin-left: 10px;
	display: inline;
}

#archives-map-container {
	padding: 6px;
	width: 600px;
	height: 300px;
}

#map, #single-post-map #map {
	width: 600px;
	height: 300px;
}

#single-post-map #map {
	height: 600px;
}

#map .marker-popup {
	max-width: 425px;	mapbox's CSS file says max 400, so we need to increase this
}

#map .marker-description {
	width: 425px;
}

#map .marker-description.single {
	width: 204px;
}
*/

/*
#main ul.domains, .dm-ajax ul.domains {
	width: 200px;
	margin: 0 0 1.5em 80px;
}

ul.domains li {
	background-position: 0 -218px;
}
*/

.single #nav-above {
	display: block;
	margin-bottom: 2.5em;
}

.post-thumbnail, .post-thumbnail img {
	width: 96px;
	height: 96px;
}

.post-thumbnail {
/* 	filter: url("data:image/svg+xml;utf8,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); */ /* Firefox 3.5+ */
/*     filter: gray; */						/* IE */
/*     -webkit-filter: grayscale(1); */		/* Old WebKit */
/*
	-webkit-filter: grayscale(100%);
	   -moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		 -o-filter: grayscale(100%);
			filter: grayscale(100%);
*/
}

.single .post .post-thumbnail {
	margin-bottom: 1.5em;
}

.post:hover .post-thumbnail, a:hover .post-thumbnail, .single .post .post-thumbnail, .first .post-thumbnail/* , #map .post-thumbnail */ {
	-webkit-filter: none;
	   -moz-filter: none;
		-ms-filter: none;
		 -o-filter: none;
			filter: none;
}

.post-thumbnail:after {
	width: 90px;
	height: 90px;
}

.single .post .post-thumbnail, .single .post .post-thumbnail img, .first .post-thumbnail, .first .post-thumbnail img {
	width: 128px;
	height: 128px;
	border-radius: 10px;
}

.single .post .post-thumbnail img, .first .post-thumbnail img {
	border-radius: 7px;
}

.single .post .post-thumbnail:after, .first .post-thumbnail:after {
	width: 122px;
	height: 122px;
	border-radius: 10px;
}

.post {
	min-height: 150px;
}

.first {
	min-height: 195px;
}

.entry-summary, .first .entry-summary {
	display: block;
	clear: none;
	font-size: 0.875em;
	margin: -1.5em 0 2em 120px;
}

.post:hover .entry-summary a {
	color: rgb(0,0,0);
}

.post:hover .entry-summary a:hover {
	color: rgb(0,195,255);
}

.single .post .title-wrap {
	width: 460px;
	height: 130px;
	line-height: 130px;
}

.post .entry-title {
	font-size: 1.5em;
	line-height: 1.25em;
	padding-top: 0.25em;
}

.single .post .entry-title {
	font-size: 2.5em;
	line-height: 1.25em;
	padding-top: 0;
}

.single .header-meta {
/* 	text-align: center; */
	margin-bottom: 1.5em;
}

.weekday {
	display: inline;
}

.single .cat-links {
	display: inline;
}

.single .cat-links a {	
	position: absolute;
	bottom: 1em;
	right: 0;
	text-transform: lowercase;
	font-weight: bold;
	font-size: 2em;
/* 	color: rgba(230,230,230,0.35); #f6f6f6*/
	color: #f6f6f6;
}

.cat-links a:hover {
/* 	color: rgba(0,0,0,0.25); #c0c0c0 */
	color: #ccc;
}

.post .entry-content img, .comment .comment-content img {
	padding: 6px;
	border: 1px solid rgb(220,220,220);
	zoom: 1;
}

.post .entry-content .retina img {
	zoom: 0.5;	
}

.post .entry-content a:hover img, .comment .comment-content a:hover img {
	border: 1px solid rgb(0,136,204);
}

#tweet-comments {
	margin: 2em;
	padding: 1em 0 0 0;
}

.comment .comment {
	margin-left: 1em;
}

.depth-1:first-of-type {
	padding-top: 1.25em;
	border-top: 1px solid rgba(0,0,0,0.125);	
}

#comments .avatar, #comments .avatar-wrap {
	width: 48px;
	height: 48px;
}

#comments .author {
	padding-top: 0.5em;
}
.comment-author {
	line-height: 1.55em;
}

.comment-edit-link {
	margin: -1em 0;
}

.comment-form-fields {
	padding: 75px 4em 0.5em 2em;
}

.comment-form-avatar {
	margin-top: 1.25em;
}

.label-over-input .comment-form-avatar {
	margin-top: 0.25em;
}

.comment-form-fields p {
	margin-left: 50px;
}

#commentform label .required, #commentform label .nopublish {
	line-height: 1.4;
}

#commentform button#submit {
	margin: 2em -4em 2em 0;
}

.dm-align-left {
	margin: 0 16px 16px 0;
}

.dm-align-right {
	margin: 0 0 16px 16px;
}

.dm-align-left-2, .dm-align-right-2{
	margin: 0 0 16px 0;
}

.dm-align-left-inline {
	margin: 0.5em 16px 3px 0;
}

.dm-align-right-inline {
	margin: 0.5em 0 3px 16px;
}

.dm-align-center, .dm-align-full {
	margin: 0 auto 16px auto;
}

figcaption {
	padding: 0.75em 7px 0 7px;
}

.dm-youtube figcaption {
	margin: -0.125em auto 1.25em auto;
}

.hreview {
	padding: 1.25em 1.5em 0 1.5em;
}

#main .hreview p {
	text-align: left;
}

.hreview .vcard {
	margin-right: 140px;
}

.hreview .links {
	position: absolute;
	top: 1em;
	right: 1em;
	margin: 0;
}

.hreview .links span {
	display: inline;
	float: right;
	margin-bottom: 0.75em;
}

.hreview .links span.dinesafe a {
	margin: 0;
}

.dm-background {
	padding: 1.25em 1.5em 0.25em 1.5em;
	margin: 1.25em 2.5em;
}

#side {
	width: 632px;
	clear: both;
	margin: 0 auto 2em auto;
	padding-top: 2em;
}

.widget {
	float: left;
	width: 300px;
	margin: 0 8px 16px 8px;
}

.dm-ajax article.page {
	width: 614px;
	padding: 2em 2em 0.25em 2em;
}

.dm-ajax article.dinesafe {
/* 	padding: 1em 0.75em 0.5em 0.75em; */
	padding: 0.5em 1em;
}

.dinesafe .inspections > li {
	padding: 0.75em 1em 1.75em 3em;
	margin: 2em 3em;

}
.dinesafe .date:before {
	top: 0.675em;
	left: 1em;
}

.dinesafe .infractions li {
	margin-left: 0.5em;
}

.dinesafe .permalink {
	width: 50%;
}

#itunes-ad {
	display: block;
}

.fancybox-inner audio {
	padding-top: 0;
}

} /* end for ipad portrait (768) */

/* ipad landscape (1024) */
@media all and (min-width: 1024px) {
#nav-bar {
	width: 976px;
}

#nav-main {
	width: 862px;
	float: right;
}

#content {
	width: 966px; /* 614 + 10x2 padding + 0px border + 32 + 300 */
}

#main {
	padding-left: 0;
}

#side {
	clear: none;
	float: right;
	width: 300px;
	padding-top: 3em;
}

#recent-posts li {
	margin: 0.5em 0;
}

.widget {
	margin: 0 0 40px 0;
}

} /* end for ipad landscape (1024) */

/* larger than 1048 */
@media all and (min-width: 1080px) {
#nav-bar {
	width: 994px;
}

#nav-main {
	width: 880px;
}

#content {
	width: 984px; /* 614 + 10x2 padding + 0px border + 50 + 300 */
}
} /* end for larger than 1048 */

/* Retina graphics */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5) {

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('f-sprite-2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div, #loading-comments p {
		background-image: url('f-loading-2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

/* -------------------------------------------------------------- /*
/* ! -- PRINT STYLESHEET -- */
/* -------------------------------------------------------------- */
/* for print media types only */
@media print {

html * {
	text-shadow: none !important;
	color: rgb(0,0,0) !important;
	background: #fff !important;
	box-shadow: none !important;
}

body {
	font-size: 12pt;
	margin: 0.25in;
}

a {
	color: rgb(0,0,0);
}

#main-header {
	position: relative;
	top: auto;
	left: auto;
	height: auto;
	line-height: 1;
	text-align: center;
}

#nav-bar {
	width: auto;
	height: auto;
}

#main-header h1 {
	float: none;
}

#main-header h1 a {
	font-size: 24pt;
}

#content {
	width: 100%;
	padding: 0;
	margin: 0 auto;
}

#main {
	float: none;
	width: auto;
	margin: 0;
}

article.page, .post .entry-content {
	position: relative;
	padding: 1em;
	border: none;
}

.dm-align-center {
	width: 194px;
}

#main-footer, .entry-meta, #main-footer a, .entry-meta a, .single article blockquote,
.entry-date, .by-author, .by-author a, .comment-time a {
	color: rgb(120,120,120);
}

/* ! -- PRINT STYLESHEET HIDDEN ELEMENTS -- */
nav, .single #nav-above, #side, .single .cat-links, .reply, #respond, .fancybox-wrap, #loading-comments, .post-thumbnail:after, .retweet-this, #tweet-comments {
	display: none;
}

} /* end for print media types only */